body {
  background-color:#D1F09E;
  color:black;
  text-align:left;
font-family:Baskervville;
  margin-left:10%;
  margin-right:10%;
}

.heading {
  font-family: 'Edu AU VIC WA NT Hand',
    cursive;
  text-align: center;
  font-size:300%
    color:black;
  text-shadow:#FFC7A9 2px 2px
}

h2.heading {
  font-size:200%  
}
.bordered {
  border-style: solid;
  border-color:#CD5C5C;
  bordered-width:3px;
  padding:5px;
  border-radius:16px;
  margin:5px;
  background-color:#F3C5FF
}

a{
  text-decoration:none;
  font-weight:700;
  color:#888888;
}

a:hover, a:visited {
  color: #d1bec5;
}
hr {
  height:2px;
  border:0px;
  background-color: #123456;
}
#footer {
  font-size:120%;
  text-align:center;
}
#bg{
width:100vw;
  height:100vh;
  z-index:-999;
  position:fixed;
  top:0px;
  left:0px;
}
