body{
  margin:0px;
}
#content, #album, #info{
  float:left;
}
#content{
  border:solid 2px red;
  width:50%;
}
#album{
  border:solid 2px blue;
  max-width:10%;
}
#info{
border:solid 2px green;
  max-width:20%;
}

#player audio::-webkit-media-controls-play-button{
  display:none;
  
}
#player audio{
  height:1em;
}
#player button{
  float:left;
}
#tracklist{
  list-style-type:none
}
.track-li{
  font-size:125%;
  font-style:italic;
}
.track-player::-webkit-media-controls-panel{
  background-color:rgba(255,255,255,1)
  
}
.track-player{
  height:1em;
}
#info-img{
  max-width:80%;
  margin:auto;
  display:block;
}
#album-cover{
  width:100%
}
